.bg-button{
    background-color: rgba(190, 248, 226,0.7);
    border-radius: 50px;
    --swiper-pagination-color: var(--swiper-theme-color,#5ecafc);
    --swiper-pagination-bullet-inactive-color: #b3e7ff;
}
.scroll-items {
  justify-content: flex-start; // changed
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
  --box-shadow:3px;
}
.scroll-items ion-col { // added
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.3rem;
}
