<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Discover</h2>
          </ion-col>
          <ion-col size="auto">
            <div class="bg-button" style="width: 50px; margin-top: 15px;">
                    <ion-tab-button tab="search">
                      <ion-icon name="search"></ion-icon>
                    </ion-tab-button>
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>

    <!-- (slideChange)="swiperSliderChange($event)" -->
    <swiper-container
        [loop]="true"
        [zoom]="true"
        [pagination]="true">       
        <swiper-slide *ngFor="let image of images">
            <div class="swiper-image-zoom">
                <img [src]="image"/>
            </div>
        </swiper-slide>
       
    </swiper-container>
      
    <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Discover</h2>
          </ion-col>
          <ion-col size="auto">
            <div style="width: 100px;">
                <ion-button fill="clear">More</ion-button>
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-content>
        <ion-card color="primary">
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content> Card Content </ion-card-content>
          </ion-card>
          
          <ion-card color="secondary">
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content> Card Content </ion-card-content>
          </ion-card>
          
          <ion-card color="tertiary">
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content> Card Content </ion-card-content>
          </ion-card>
          
          <ion-card color="success">
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content> Card Content </ion-card-content>
          </ion-card>
          
          <ion-card color="warning">
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content> Card Content </ion-card-content>
          </ion-card>
          
          <ion-card color="danger">
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content> Card Content </ion-card-content>
          </ion-card>
          
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content> Card Content </ion-card-content>
          </ion-card>
          
          <ion-card color="medium">
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content> Card Content </ion-card-content>
          </ion-card>
          
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content> Card Content </ion-card-content>
          </ion-card>
    </ion-content>

    
      
</ion-content>
